main {
  margin: 10vh auto;
  padding: 5vh auto;
  height: 80vh;
  width: 90vw;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fa8627;
  border-radius: 5%;
  border: #000000 solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
}
nav {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh;
  padding: 3vh;
}
ul {
  list-style-type: none;
}
nav ul li {
  list-style-type: none;
  display: inline;
  border: #000000 solid 2px;
  border-radius: 10%;
  padding: 1.5vh;
  margin-left: 1vw;
  margin-right: 1vw;
  background: #c557db;
}

section {
  width: 50vw;
  height: 60vh;
  background-color: #c557db;
  border: #000000 solid 2px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin-bottom: 5%;
}
#imgMemory {
  margin: 2vh;
  height: 30vh;
  width: 30vw;
}

input, button {
  margin: 1vh;
  color: white;
  border-radius: 1%;
  border: #000000 solid 2px;
  height: 5vh;
  width: 45vw;
  background-color: #fa8627;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::placeholder {
color: white;

}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
* {
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #c557db;
}

.memory-game {
  padding: 1%;
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  perspective: 2000px;
}

.memory-card {
  width: calc(25% - 1vw);
  height: calc(33.333% - 3vh);
  max-width: 125px;
  max-height: 125px;
  margin: 1%;
 
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
  box-shadow: 0.5vw 0.5vw 0.5vw 0.1vw rgb(255, 255, 255);
  border-radius: 10%;
   border: #000000 solid 2px;
}

.memory-card:active {
  transform: scale(0.5);
  transition: transform 1s;
}
.back-face:hover {
  background-color:#c557db;
}
.memory-card.flip {
  transform: rotateY(180deg);
  transition: transform 1s;
  box-shadow: -0.5vw 0.5vw 0.5vw 0.1vw rgb(0, 0, 0);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 1%;
  position: absolute;
  border-radius: 10%;
  background:#fa8627;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
.end {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.blackout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;
}


.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#score {  
  color: white;
  font-size: 1.2rem;
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.score {
  text-decoration: underline white 2px solid;
}